.rocket {
  position: fixed;
  bottom: 0;
  right: 15px;
  justify-content: center;
  align-items: center;
  background-color: palevioletred;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: clignote 2.5s infinite;
}

@keyframes clignote {
  0%,
  20% {
    opacity: 0;
  }
  20%,
  60% {
    opacity: 1;
  }
  61%,
  80% {
    opacity: 0;
  }
  81%,
  100% {
    opacity: 1;
  }
}
